.auther {
  --blue-light: hsla(215, 55%, 54%, 1.00);
  --blue-dark: hsla(214, 58%, 38%, 1.00);
  --red: hsla(9, 87%, 54%, 1.00);
  --white: hsla(0, 0%, 100%, 1.00);
  --grey-light: hsla(0, 0%, 65%, 1.00);
  --grey-dark: hsla(240, 1%, 30%, 1.00);
  --font-family: "Verdana", sans-serif;

  align-content: center;
  display: flex;
  font-family: var(--font-family);
  justify-content: center;

  .body {
    display: flex;
    flex-direction: column;
  }

  .label {
    font-size: 2em;
    font-weight: 400;
    text-align: center;
  }

  .form {
    display: flex;
    flex-direction: column;

    .section {
      display: flex;
      flex-direction: column;
      margin: 0 0 0.5rem 0;
    }

    .group {
      display: flex;
      flex-direction: column;
    }

    .input {
      color: var(--grey-dark);
      border: 0.09rem solid var(--grey-light);
      border-radius: 0.3rem;
      display: flex;
      font-size: 0.9rem;
      padding: 0.5rem;
      outline: none;
    }

    .select {
      background: transparent;
      border-radius: 0.3rem;
      color: var(--grey-dark);
      display: flex;
      font-size: 1rem;
      height: 2rem;
      outline: none;
    }

    .message {
      background: var(--red);
      color: var(--white);
      display: none;
      padding: 0.3em 0.7em;
    }

    .button {
      color: var(--white);
      cursor: pointer;
      background-color: var(--blue-light);
      border: none;
      font-size: 1rem;
      padding: 0.5rem;
      margin: 1rem 0 0 0;
      outline: none;
      width: 100%;

      &:active {
        background-color: var(--blue-dark);
      }
    }

    .error {
      .input {
        border-color: var(--red);
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
      }

      .message {
        display: flex;
      }
    }
  }
}
