.authorization {
  position: relative;
  top: 25%;
  -webkit-transform: translateY(25%);
  -ms-transform: translateY(25%);
  transform: translateY(25%);

  .authorization-label {
    text-align: center !important;
    margin-bottom: 0.5em;
  }
}
