$auther-red: #F04124;
$auther-white: #FFFFFF;
$auther-font-family: "Verdana", sans-serif;

.auther-page {
  display: flex;
  font-family: $auther-font-family;
}

.auther-body {
  align-content: center;
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.auther-content {
  display: flex;
  flex-direction: column;
}

.auther-label {
  font-size: 2em;
  font-weight: 400;
  text-align: center;
}

.auther-form {
  display: flex;
  flex-direction: column;
}

.auther-form-section {
}

%auther-form-label {
  font-weight: 300;
  text-align: right;
}

.auther-form-label {
}

.auther-form-select-label {
}

.auther-form-select {
}

.auther-form-group {
}

.auther-button {
}

.auther-error-message {
  background: $auther-red;
  color: $auther-white;
  display: none;
  padding: 0.3em 0.5em;
}

.auther-error {
  .auther-form-label {
    color: $auther-red;
  }

  .auther-form-group {
    margin-bottom: 0.75em;
  }

  .auther-form-input {
    border-color: $auther-red;
    margin-bottom: 0;
  }

  .auther-error-message {
    display: block;
  }
}
